<a href="https://colab.research.google.com/github/DonRoboto/MachineLearning/blob/master/BayesianNetwork_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
from sklearn import datasets
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [44]:
!pip install pomegranate

Collecting pomegranate
  Downloading https://files.pythonhosted.org/packages/bd/b9/b64c8722891d9089959b403b8b6a5413c325ed2f6b07f2b2d5246a151551/pomegranate-0.14.5-cp37-cp37m-manylinux2010_x86_64.whl (17.9MB)
     |████████████████████████████████| 17.9MB 227kB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from pomegranate) (3.13)
Collecting numpy>=1.20.0
  Downloading https://files.pythonhosted.org/packages/a5/42/560d269f604d3e186a57c21a363e77e199358d054884e61b73e405dd217c/numpy-1.20.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 275kB/s
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (1.0.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (2.5.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pomegranate) (1.4.1)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.4->pomegranate) (4.4.2)
ERROR: tensorflow 2.5.0 has requirement numpy~=1.19.2, but you'll have numpy 1.20.3 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, pomegranate
  Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
Successfully installed numpy-1.20.3 pomegranate-0.14.5

In [2]:
df = pd.read_csv("iris.csv") 

df.head()

   s_length  s_width  p_length  p_width  variety
0       5.1      3.5       1.4      0.2        0
1       4.9      3.0       1.4      0.2        0
2       4.7      3.2       1.3      0.2        0
3       4.6      3.1       1.5      0.2        0
4       5.0      3.6       1.4      0.2        0

In [3]:
def jitter(a_series, noise_reduction=1000000):
    return (np.random.random(len(a_series))*a_series.std()/noise_reduction)-(a_series.std()/(2*noise_reduction))



df['Ds_length'] = pd.qcut(df['s_length']+ jitter(df['s_length']), 10, labels=False)
df['Ds_width'] = pd.qcut(df['s_width']+ jitter(df['s_width']), 10, labels=False)
df['Dp_length'] = pd.qcut(df['p_length']+ jitter(df['p_length']), 10, labels=False)
df['Dp_width'] = pd.qcut(df['p_width']+ jitter(df['p_width']), 10, labels=False)

In [4]:
df.head()

   s_length  s_width  p_length  ...  Ds_width  Dp_length  Dp_width
0       5.1      3.5       1.4  ...         8          1         0
1       4.9      3.0       1.4  ...         4          1         0
2       4.7      3.2       1.3  ...         6          0         1
3       4.6      3.1       1.5  ...         5          1         0
4       5.0      3.6       1.4  ...         8          0         0

[5 rows x 9 columns]

In [5]:
df_model = df.loc[:,['variety','Ds_length', 'Ds_width','Dp_width' ]]

In [6]:
df_model.head()

   variety  Ds_length  Ds_width  Dp_width
0        0          2         8         0
1        0          1         4         0
2        0          0         6         1
3        0          0         5         0
4        0          1         8         0

In [16]:
X = df_model.loc[:,['Ds_length', 'Ds_width','Dp_width']]
y = df_model.loc[:,['variety']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [7]:
import math
from pomegranate import *

In [19]:
X_model = pd.concat([y_train, X_train], axis=1)

model = BayesianNetwork.from_samples(df_model, state_names=df_model.columns.values, algorithm='exact')
#model.plot()

In [18]:


predict = model.predict_proba()

     variety  Ds_length  Ds_width  Dp_width
96         1          4         3         4
105        2          9         3         8
66         1          4         5         6
0          0          2         8         0
122        2          9         2         8
..       ...        ...       ...       ...
71         1          6         2         4
106        2          1         1         6
14         0          5         9         1
92         1          5         1         4
102        2          9         5         8

[100 rows x 4 columns]